@charset "UTF-8";
/* IMPORTAR LOS ESTILOS BASE */
/* IMPORTAR LAS VARABLES Y MIXINS A UTILIZAR EN EL TEMA */
/* VARIABLES GLOBALES PARA EL TEMA */
/* FUENTES PRINCIPALES */
/* PRINCIPAL COLORS */
/* BOTON COLORS */
/* DASHBOARD COLORS */
/* ANCHOS Y ALTOS DE PANTALLA */
/************************** MENSAJE DE ALERTA/MODALES **************************/
/* LOADER DE ÉXITO O DE CARGA */
/* LOADER DE ÉXITO O CARGA */
/* MENSAJE DE ERROR */
/* NAV HAMBURGUER INCOMPLETE DESGN */
*,
*::before,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  font-family: sans-serif !important;
  position: relative;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* CLASS UTILITIES */
.control-spanrequired {
  color: red;
}

.mtop-headertop {
  margin-top: 4.5rem;
}

.box {
  max-width: 1220px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.box-m {
  max-width: 650px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.one-hidden > option:first-child {
  display: none !important;
}

/************************** LOADER DEL ADMINISTRADOR **************************/
/* MENSAJE DE ÉXITO O LOADER DE ACCESO */
#msgAlertLoginSuccess {
  opacity: 0.8;
}
#msgAlertLoginSuccess {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #B58440;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  top: 0;
  left: 0;
}
#msgAlertLoginSuccess.hidden {
  display: none;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
#msgAlertLoginSuccess .cont-loader--loader {
  height: 15px;
  width: 105px;
  display: flex;
  position: relative;
  z-index: 99999;
}
#msgAlertLoginSuccess .cont-loader--loader--circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  animation: move 500ms linear 0ms infinite;
  margin-right: 30px;
}
#msgAlertLoginSuccess .cont-loader--loader--circle:first-child {
  position: absolute;
  top: 0;
  left: 0;
  animation: grow 500ms linear 0ms infinite;
}
#msgAlertLoginSuccess .cont-loader--loader--circle:last-child {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0;
  animation: grow 500ms linear 0s infinite reverse;
}
@keyframes grow {
  from {
    transform: scale(0, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(45px);
  }
}
#msgAlertLoginSuccess p {
  margin-top: 1rem;
  margin-bottom: 0;
  color: #fff;
  font-weight: bold;
}

/* MENSAJE DE ERROR O ALERTA */
#msgAlertLoginErr {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  top: 0;
  left: 0;
}
#msgAlertLoginErr.disabled {
  transition: ease 0.3s;
  opacity: 0;
  display: none;
}
#msgAlertLoginErr .msgAlertLoginErr--c {
  max-width: 400px;
  width: 90%;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  margin-top: 1rem;
  padding: 1rem;
  animation-name: alert;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-iteration-count: inherit;
}
#msgAlertLoginErr .msgAlertLoginErr--c--close {
  width: 18px;
  height: 18px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 43%, #fff 45%, #fff 55%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%), linear-gradient(135deg, #000 0%, #000 43%, #fff 45%, #fff 55%, #000 57%, #000 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px #000, 0 0 0 4px #000, 0 0 0 7px #fff;
  position: absolute;
  top: 0;
  right: -5px;
  cursor: pointer;
}
#msgAlertLoginErr .msgAlertLoginErr--c--title {
  font-size: 1.15rem;
  font-weight: 600;
  color: red;
  padding: 0;
  margin: 0;
}
#msgAlertLoginErr .msgAlertLoginErr--c--desc {
  color: red;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}
@keyframes alert {
  0% {
    transform: translateY(-100%);
    margin-top: 0;
  }
  100% {
    transform: translateY(0);
    margin-top: 1rem;
  }
}

/* IMPORTAR LAS HOJAS DE ESTILOS */
.c-LoginAdm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  /* FONDO DE LA PÁGINA */
}
@media (min-width: 960px) {
  .c-LoginAdm {
    display: grid;
    flex-direction: row;
    align-items: unset;
    justify-content: unset;
    grid-template-columns: 430px auto;
    grid-template-areas: "loginfrm loginbackground";
  }
}
.c-LoginAdm--cLoginF {
  grid-area: loginfrm;
  text-align: center;
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* LOGOTIPO */
  /* FORMULARIO */
  /* 	FOOTER DEL LOGIN */
}
@media (min-width: 960px) {
  .c-LoginAdm--cLoginF {
    width: 80%;
    justify-content: center;
    padding-top: 32%;
  }
}
.c-LoginAdm--cLoginF--cLogo {
  max-width: 220px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}
@media (min-width: 960px) {
  .c-LoginAdm--cLoginF--cLogo {
    margin-bottom: 2rem;
  }
}
.c-LoginAdm--cLoginF--cLogo img {
  width: 90%;
}
.c-LoginAdm--cLoginF--cForm {
  height: 100%;
}
.c-LoginAdm--cLoginF--cForm--cTitle {
  margin-bottom: 1rem;
}
.c-LoginAdm--cLoginF--cForm--cTitle--title {
  font-size: 1.65rem;
  font-weight: 600;
  color: #3A3F51;
}
.c-LoginAdm--cLoginF--cForm--form--cControl {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 1rem;
}
.c-LoginAdm--cLoginF--cForm--form--cControl--input {
  width: 100%;
  border-radius: 0.4rem;
  border: thin solid #ccc;
  outline: none;
  padding: 0.7rem 42px 0.7rem 0.7rem;
  line-height: 1.5;
}
.c-LoginAdm--cLoginF--cForm--form--cControl--cIcon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 42px;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-LoginAdm--cLoginF--cForm--form--cControl--cIcon img {
  position: relative;
  top: 2px;
}
.c-LoginAdm--cLoginF--cForm--form--btnLoginAdm {
  cursor: pointer;
  width: 100%;
  border-radius: 0.3rem;
  border: none;
  background-color: #27C24C;
  padding: 0.65rem;
  line-height: 1.5;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-LoginAdm--cLoginF--cForm--form--btnLoginAdm:hover {
  opacity: 0.6;
}
.c-LoginAdm--cLoginF--cForm--form--btnLoginAdm img {
  width: 27px;
  height: 27px;
  margin-left: 0.65rem;
  position: relative;
  top: 2px;
}
.c-LoginAdm--cLoginF--cBottInfo {
  display: none;
}
@media (min-width: 960px) {
  .c-LoginAdm--cLoginF--cBottInfo {
    display: block;
  }
}
.c-LoginAdm--cLoginF--cBottInfo small {
  font-size: 0.75rem;
}
.c-LoginAdm--cBcImage {
  grid-area: loginbackground;
  background-image: url("../img/utilities/bg-login.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
}
.c-LoginAdm--cBcImage:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
@media (min-width: 960px) {
  .c-LoginAdm--cBcImage {
    display: flex;
  }
}

/* CONTENEDOR PRINCIPAL DEL DASHBOARD */
#dash-contT {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}
@media (min-width: 960px) {
  #dash-contT {
    display: flex;
    align-items: flex-start;
  }
  #dash-contT.hiddenLeft {
    grid-template-columns: 1fr;
  }
}

/* BOTÓN DE HAMBURGUESA - MOBILE */
#icon-togglemenuMobile {
  position: relative;
}
#icon-togglemenuMobile {
  cursor: pointer;
  width: 24px;
  height: 23px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
#icon-togglemenuMobile span {
  width: 100%;
  border-top: 4px solid #3A3F51;
  border-radius: 2rem;
  position: relative;
  top: 0;
}
#icon-togglemenuMobile span:nth-child(2) {
  width: 100%;
  border-top: 4px solid #3A3F51;
  border-radius: 1.5rem;
  position: relative;
  top: 0;
}
#icon-togglemenuMobile.position {
  position: fixed;
  margin-left: 73%;
  background-color: #fff;
  animation-name: moveIconBurger;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  color: #fff;
  font-size: 2rem;
  display: inline-block;
  transition: 0.3s;
  width: 20px;
  height: 20px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 43%, #fff 45%, #fff 55%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%), linear-gradient(135deg, transparent 0%, transparent 43%, #fff 45%, #fff 55%, transparent 57%, transparent 100%);
  border: none;
  padding: 0.5rem;
}
@keyframes moveIconBurger {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 73%;
  }
}
@media (min-width: 960px) {
  #icon-togglemenuMobile {
    display: none;
  }
}

/* BOTÓN DE HAMBURGUES - DESKTOP */
#icon-togglemenuDesktop {
  display: none;
  position: relative;
}
@media (min-width: 960px) {
  #icon-togglemenuDesktop {
    margin-right: 1rem;
  }
  #icon-togglemenuDesktop {
    cursor: pointer;
    width: 24px;
    height: 23px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }
  #icon-togglemenuDesktop span {
    width: 100%;
    border-top: 4px solid #3A3F51;
    border-radius: 2rem;
    position: relative;
    top: 0;
  }
  #icon-togglemenuDesktop span:nth-child(2) {
    width: 100%;
    border-top: 4px solid #3A3F51;
    border-radius: 1.5rem;
    position: relative;
    top: 0;
  }
}

/* DASHBOARD - SIDEBARLEFT */
.nav-dashCamel {
  display: none;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}
.nav-dashCamel.show {
  display: block;
  pointer-events: auto;
  opacity: 1;
}
@media (min-width: 960px) {
  .nav-dashCamel {
    max-width: 300px;
    background-color: #3A3F51;
    width: 100%;
    position: relative;
    display: block;
    pointer-events: auto;
    opacity: 1;
    transition: 0.2s ease-in-out;
  }
  .nav-dashCamel.hidden {
    opacity: 0;
    width: 0;
    pointer-events: none;
  }
}
.nav-dashCamel--c {
  background-color: #3A3F51;
  max-width: 400px;
  width: 75%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transform: translateX(-100%);
  animation-name: showSidebarLeft;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}
@keyframes showSidebarLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.nav-dashCamel--c.show {
  transform: translateX(0);
  pointer-events: auto;
  opacity: 1;
}
@media (min-width: 960px) {
  .nav-dashCamel--c {
    width: 100%;
    background-color: transparent;
    height: 100%;
    transform: translateX(0);
    pointer-events: auto;
    opacity: 1;
    animation-name: unset;
    animation-duration: unset;
    animation-timing-function: unset;
    transition: 0.3s linear;
  }
  .nav-dashCamel--c.hidden {
    width: 0;
    pointer-events: none;
  }
}
.nav-dashCamel--c--cLogo {
  padding: 1rem 1rem 0.5rem 1rem;
  max-width: 125px;
  width: 90%;
  margin-right: auto;
}
@media (min-width: 960px) {
  .nav-dashCamel--c--cLogo {
    max-width: 140px;
  }
}
.nav-dashCamel--c--cLogo--img {
  object-fit: contain;
  object-position: center;
}
.nav-dashCamel--c--cUserInfo {
  text-align: center;
  margin-bottom: 2rem;
}
.nav-dashCamel--c--cUserInfo--cAvatar {
  max-width: 125px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}
@media (min-width: 960px) {
  .nav-dashCamel--c--cUserInfo--cAvatar {
    max-width: 180px;
  }
}
.nav-dashCamel--c--cUserInfo--cAvatar--img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #fff;
  object-fit: cover;
  object-position: center;
}
.nav-dashCamel--c--cUserInfo--cInfo {
  color: #fff;
}
.nav-dashCamel--c--cUserInfo--cInfo--title {
  margin-bottom: 0.25rem;
}
.nav-dashCamel--c--cList--m--link {
  color: #fff;
  display: block;
  padding: 1rem 0.5rem 1rem 1.5rem;
}
.nav-dashCamel--c--cList--m--link:hover {
  background-color: #262A36;
}

/* CONTENEDOR DEL HEADER Y EL CONTENIDO */
@media (min-width: 960px) {
  #main-dashCamel {
    width: 100%;
  }
}

/* DASHBOARD - HEADERPTOP */
.h-dashCamel--c {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
}
.h-dashCamel--c--cTitle {
  display: none;
}
@media (min-width: 960px) {
  .h-dashCamel--c--cTitle {
    display: block;
    margin-right: auto;
  }
}
.h-dashCamel--c--cClock {
  display: none;
  margin-right: 0.8rem;
  position: relative;
  top: 2px;
}
@media (min-width: 960px) {
  .h-dashCamel--c--cClock {
    display: block;
  }
}
.h-dashCamel--c--cUser {
  margin-left: auto;
}
@media (min-width: 960px) {
  .h-dashCamel--c--cUser {
    margin-left: unset;
  }
}
.h-dashCamel--c--cUser--linkcont {
  display: flex;
  align-items: center;
}
.h-dashCamel--c--cUser--linkcont img {
  width: 36px;
  height: 35px;
}
@media (min-width: 960px) {
  .h-dashCamel--c--cUser--linkcont img {
    margin-right: 0.5rem;
  }
}
.h-dashCamel--c--cUser--linkcont span {
  display: none;
}
@media (min-width: 960px) {
  .h-dashCamel--c--cUser--linkcont span {
    display: block;
  }
}
.h-dashCamel--c--cUser--m {
  display: none;
  position: absolute;
  background-color: #3A3F51;
  position: absolute;
  top: 3.5rem;
  right: 1rem;
  border-radius: 0.3rem;
  overflow: hidden;
}
.h-dashCamel--c--cUser--m.show {
  display: block;
}
.h-dashCamel--c--cUser--m--link {
  display: block;
  color: #fff;
  padding: 0.5rem 1rem;
}

/* DASHBOARD - CONTENIDO */
.cont-dashCamel {
  padding: 0.5rem 1rem;
}

/*# sourceMappingURL=styles.css.map */
