/* IMPORTAR LAS VARABLES Y MIXINS A UTILIZAR EN EL TEMA */
@import 'variables';
@import 'mixins';

:root{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body{
	font-family: $total-font-family;
	position: relative;
}
a{
	text-decoration: none !important;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

/* CLASS UTILITIES */
.control-spanrequired{
	color: red;
}
.mtop-headertop{
	margin-top: $min-headertop;
}
.box-container{
	max-width: $max-width;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.one-hidden > option:first-child{
	display: none !important;
}
.step-hidden{
	display: none;
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
}
.hide{
	display: none;
	pointer-events: none;
	visibility: hidden;
	opacity: 0;	
}
/************************** SHOW/HIDDEN THE STEP FOR THE CLIENT **************************/
#step-One{display: block;pointer-events: auto;visibility: visible;opacity: 1;	&.hide{display: none; pointer-events: none; visibility: hidden; opacity: 0;}}
#step-Two{display: none;pointer-events: none;visibility: hidden;opacity: 0;	&.show{display: block; pointer-events: auto; visibility: visible; opacity: 1;}}
#step-Two-five{display: none;pointer-events: none;visibility: hidden;opacity: 0; &.show{display: block; pointer-events: auto; visibility: visible; opacity: 1;}}
#three-Two{display: none;pointer-events: none;visibility: hidden;opacity: 0; &.show{display: block;	pointer-events: auto; visibility: visible; opacity: 1;}}
#four-Two{display: none;pointer-events: none;visibility: hidden;opacity: 0;	&.show{	display: block;	pointer-events: auto;	visibility: visible; opacity: 1;}}

/************************** LOADER DE LA WEB **************************/
#cont-loader{
	@include loaderPoints($primary-color, #fff);
}
