/* IMPORTAR LAS VARABLES Y MIXINS A UTILIZAR EN EL TEMA */
@import 'variables';
@import 'mixins';

:root,
*,
*::before,
*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $total-font-family;
}
a{
	text-decoration: none !important;
}
div{
	&[aria-expanded="true"],
	&[aria-visibility="show"]{
		display: none;
		pointer-events: none;
		opacity: 0;
	}
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
img{
	max-width: 100%;
	width: auto;
	height: auto;
}
/* CLASS UTILITIES */
.bold-pricolor{
	color: $theme-clr-btns;
	font-weight: bold;
}
input[f-hidden="aria-hidden"]{
	width: 0;
	height: 0;
	display: none;
	opacity: 0;
	visibility: hidden;
	user-select: none;
	background-color: #fff;
	border: none;
	appearance: none;
	line-height: unset;
}
.non-visvalipt{
	width: 0 !important;
	height: 0 !important;
	display: none !important;
	opacity: 0 !important;
	visibility: hidden !important;
	display: none !important;
	background-color: #fff !important;
	border: none !important;
	line-height: unset !important;
}
.h-alternative-shwnon{
	width: 0;
	height: 0;
	display: none;
	opacity: 0;
	visibility: hidden;
	display: none;
	background-color: #fff;
	border: none;
	line-height: unset;
}
.s-fkeynone-step{
	width: 0;
	height: 0;
	display: none;
	opacity: 0;
	visibility: hidden;
	display: none;
	background-color: #fff;
	border: none;
	line-height: unset;	
}
.control-spanrequired{
	color: red;
}
.mtop-headertop{
	margin-top: $min-headertop;
}
.ptop-headertop{
	padding-top: $min-headertop;
}
.box-container{
	max-width: $max-width;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.box-container-95{
	max-width: $max-width;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}
.box-containerredux{
	max-width: $max-width-redux;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1rem;
}
.one-hidden > option:first-child{
	display: none !important;
}
.step-hidden{
	display: none;
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
}
.hide{
	display: none;
	pointer-events: none;
	visibility: hidden;
	opacity: 0;	
}
.box-container-p05{
	width: 100%;
	padding: 0.5rem;
	margin-left: auto;
	margin-right: auto;
}
.not-padd{
	padding: 0.5rem !important;
}
.p-05{
	padding: 0.5rem !important;
}
/************************** API WHATSAPP **************************/
#chat_wstp-icon{
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;

	&:hover{
		color: #fff
	}
}
.float{
	position:fixed;
	bottom:40px;
	right: 25px;
	background-color: #25d366;
	color: #fff;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 12px 3px rgba(0,0,0,.12);
  z-index:100;

  &--contText{
		position: relative;
	  width: max-content;
	  height: 50px;
	  padding: 0.8rem 5rem .8rem 2rem;
	  font-size: 1rem;
	  font-family: sans-serif;
	  display: flex;
	  align-items: center;
	  justify-content: center;
  }
	
	&--contIconWps{
		width: 60px;
	  height: 60px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  position: absolute;
	  background-color: #25d366;
	  border-radius: 50%;
	  right: 0;
	  box-shadow: 0 0 10px 1px rgb(0 0 0 / 30%);

	  img{
		  display: table;
			width: 40px;
		  height: 40px;
		  position: relative;
		  top: 4px;
	  }
	}
}
.my-float{
	margin-top:16px;
}
@media (min-width: 991px){
	.float{
		right: 60px;
	}
}
/************************** SHOW/HIDDEN THE STEP FOR THE CLIENT **************************/
#step-One{display: block;pointer-events: auto;visibility: visible;opacity: 1;	&.hide{display: none; pointer-events: none; visibility: hidden; opacity: 0;}}
#step-Two{display: none;pointer-events: none;visibility: hidden;opacity: 0;	&.show{display: block; pointer-events: auto; visibility: visible; opacity: 1;}}
#step-TwoPointOne{display: none;pointer-events: none;visibility: hidden;opacity: 0; &.show{display: block; pointer-events: auto; visibility: visible; opacity: 1;}}
#three-Two{display: none;pointer-events: none;visibility: hidden;opacity: 0; &.show{display: block;	pointer-events: auto; visibility: visible; opacity: 1;}}
#four-Two{display: none;pointer-events: none;visibility: hidden;opacity: 0;	&.show{	display: block;	pointer-events: auto;	visibility: visible; opacity: 1;}}

.ptop-2{
	padding-top: 2rem !important;
}
/************************** LOADER DE LA WEB **************************/
#cont-loader{
	@include loaderPoints($primary-color, #fff);
}
/************************** LOADER CLÁSICO - OPACIDAD 85% **************************/
#loader-clasic-op85{
	position: absolute;
	top: 0;
	left: 0;
  width: 100%;
  min-height: 90vh;
  height: 100%;
  background-color: rgba(255,255,255,.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
	.loader-clasic-op85--c{
		@include loader-clasic(55px, $primary-color);
	}
}
/************************** LOADER CLÁSICO - OPACIDAD 100% **************************/
#loader-clasic-op100{
	position: absolute;
	top: 0;
	left: 0;
  width: 100%;
  min-height: 90vh;
  height: 100%;
  background-color: rgba(255,255,255,255);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
	.loader-clasic-op100--c{
		@include loader-clasic(55px, $primary-color);
	}
}
/************************** VALIDATION IN CONTAINER MODAL **************************/
.cnt-modalFValidateMCont{
	position: fixed;
	width: 100%;
	min-height: 100vh;
	height: 100%;
	overflow-y: auto;
	background-color: rgba(0,0,0,.4);
	z-index: 99999999;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	display: flex;	
	align-items: flex-start;
	justify-content: center;

	&--c{
		background-color: #fff;
		border-radius: .6rem;
		max-width: 420px;
		width: 95%;
		margin-top: 1rem;
		overflow: hidden;
		text-align: center;
		animation-name: showFormValidateMC;
		animation-duration: .3s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
		transform: translateY(-200%);
		
		@keyframes showFormValidateMC{
			0%{
				transform: translateY(-200%);
			}
			100%{
				transform: translateY(0);
			}
		}

		&--close{
			width: 15px;
			height: 15px;
			background:
				linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 43%, #fff 45%, #fff 55%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%), 
				linear-gradient(135deg, #000 0%, #000 43%, #fff 45%, #fff 55%, #000 57%, #000 100%);
			border-radius: 50%;
			box-shadow: 0 0 0 1px #000, 0 0 0 4px #000, 0 0 0 7px #fff;
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
		}

		&--cTitle{
			background-color: $primary-color;
			color: #fff;
			padding: 1rem .5rem;

			h2{
				font-size: 1.4rem;
				margin: 0;
				padding: 0;
			}
		}
		/************************** CONTENIDO DE LA DESCRIPCIÓN **************************/
		&--cDesc{
			padding: 1rem;
			text-align: left;
			&--text{
				margin-bottom: 0.5rem;
			}
			&--m{
				list-style: disc;
				padding-left: 1.25rem;
				&--item{
					color: $primary-color;
					font-weight: bold;
				}
			}
		}
		/************************** ALERTA DE MODAL **************************/
		&--cAlert{
			padding: .5rem;
			p{
				color: $primary-color;
				margin: 0;
				line-height: 1.3;
				font-weight: 600;
			}
		}

		/* BOTONES DE ACCIÓN PARA LA CALCULADORA */
		&--cBtnsActionsModalCalc{
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			padding: 1rem;
			button{
				display: inline-block;
		    border: none;
		    border-radius: 0.4rem;
		    padding: 0.5rem 1.5rem;
		    color: #fff;
		    font-weight: bold;
		    font-size: 0.85rem;

		    &:hover{
		    	opacity: .6;
		    }
			}

			&--btnCancel{
		    background-color: orange;
			}

			&--btnAccept{
				background-color: steelblue;
			}
		}
	}
}
/************************** VALIDATION IN SERVICES MODAL **************************/
.cnt-modalFValidateServicesCont{
	position: fixed;
	width: 100%;
	min-height: 100vh;
	height: 100%;
	overflow-y: auto;
	background-color: rgba(0,0,0,.4);
	z-index: 99999999;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	display: flex;	
	align-items: flex-start;
	justify-content: center;

	&--c{
		background-color: #fff;
		border-radius: .6rem;
		max-width: 435px;
		width: 95%;
		margin-top: 1rem;
		overflow: hidden;
		text-align: center;
		animation-name: showFormValidateServicesMC;
		animation-duration: .3s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
		transform: translateY(-200%);
		
		@keyframes showFormValidateServicesMC{
			0%{
				transform: translateY(-200%);
			}
			100%{
				transform: translateY(0);
			}
		}

		&--close{
			width: 15px;
			height: 15px;
			background:
				linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 43%, #fff 45%, #fff 55%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%), 
				linear-gradient(135deg, #000 0%, #000 43%, #fff 45%, #fff 55%, #000 57%, #000 100%);
			border-radius: 50%;
			box-shadow: 0 0 0 1px #000, 0 0 0 4px #000, 0 0 0 7px #fff;
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
		}

		&--cTitle{
			background-color: $primary-color;
			color: #fff;
			padding: 1rem .5rem;

			h2{
				font-size: 1.4rem;
				margin: 0;
				padding: 0;
			}
		}
		/************************** CONTENIDO DE LA DESCRIPCIÓN **************************/
		&--cDesc{
			padding: 1rem;
			text-align: left;
			border-bottom: thin solid #5555;
			&--text{
				margin-bottom: 1rem;
				text-align: center;
				line-height: 1.4;

				b{
					color: $primary-color;
				}
			}
			&--m{
				list-style: disc;
				padding-left: 1.25rem;
				margin-bottom: 1rem;
				&--item{
					color: $primary-color;
					font-weight: 600;
					margin-bottom: 0.5rem;
				}
			}
		}
		/************************** ALERTA DE MODAL **************************/
		&--cAlert{
			padding: .5rem;
			p{
				color: $primary-color;
				margin: 0;
				line-height: 1.3;
				font-weight: 600;
			}
		}

		/* BOTONES DE ACCIÓN PARA LA CALCULADORA */
		&--cBtnsActionsModalCalc{
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			padding: 1rem;
			button{
				display: inline-block;
		    border: none;
		    border-radius: 0.4rem;
		    padding: 0.5rem 1.5rem;
		    color: #fff;
		    font-weight: bold;
		    font-size: 0.85rem;

		    &:hover{
		    	opacity: .6;
		    }
			}

			&--btnCancel{
		    background-color: orange;
			}

			&--btnAccept{
				background-color: steelblue;
			}
		}
	}
}
/************************** MENSAJE DE ALERTA - PASOS INCOMPLETOS **************************/
.cntMessageSteps-prcss{
	&--cont{
		position: fixed;
		z-index: 99999999;
		max-width: 850px;
		width: 92%;
		min-height: auto;
		height: auto;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		background-color: transparent;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		transition: .4s ease-in-out;

		&--c{
			margin-top: .5rem;
			width: 100%;
			background-image: repeating-linear-gradient(-45deg, #FFABA2, #FFABA2 35px, #FFC4BE 35px, #FFC4BE 65px);
			border-radius: .3rem;
			box-shadow: 0 4px 10px 1px rgba(0,0,0,.15);
			padding: 1.2rem;
			position: relative;
			transition: .4s ease-in-out;
			transform: translateY(-200%);
			animation-name: moveToTopMessageAlert;
			animation-duration: .4s;
			animation-timing-function: ease-in-out;
			animation-fill-mode: forwards;

			@keyframes moveToTopMessageAlert{
				0%{
					transform: translateY(-200%);
				}
				100%{
					transform: translateY(0);
				}
			}
			
			&--btnclose{
				width: 15px;
				height: 15px;
				background:
	    		linear-gradient(44deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 49%, #4F0800 43%, #4F0800 55%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%), 
	    		linear-gradient(135deg, transparent 0%, transparent 49%, #4F0800 43%, #4F0800 55%, transparent 57%, transparent 100%);
	    	border-radius: 50%;
	  		//box-shadow: 0 0 0 1px #000, 0 0 0 4px #000, 0 0 0 7px #fff;
	  		position: absolute;
	  		top: .85rem;
	  		right: .85rem;
	  		cursor: pointer;
			}

			&--title{
				font-size: 1.4rem;
				font-weight: 300;
				color: #DC3545;
			}

			&--text{
				font-size: 1.15rem;
				line-height: 1.35;
				color: #4F0800;
				margin: 0;

				b{
					font-weight: 600;
				}
			}
		}
	}
}
/************************** LOADER DEL USUARIO EN CAMELLOGISTICS **************************/
/* MENSAJE DE ÉXITO O LOADER DE ACCESO */
#msgAlertpreloader{
	opacity: .8;
	@include loaderPoints($primary-color, #fff);	
}
/* MENSAJE DE ERROR O ALERTA */
#msgAlerterr{
	@include error-message(#fff, red);
}
/* NOTIFICACIÓN - MENSAJES AL USUARIO */
#notiMsgAlertCli{
	@include notifiMsg-client(rgba(0,0,0,.2), #fff, $primary-color);
}
/* ESTILOS PARA SWEETALERT2 */
.swal2-container.swal2-bottom, .swal2-container.swal2-center, .swal2-container.swal2-top{
	z-index: 99999999;
}
.alertSwal{
	padding: 1rem 0 0 0;
	.txt-center{
		text-align: center;
	}
	&__cIcon{
		svg{
			fill: $theme-clr-titles;
		}
	}
	&__cTitle{
		margin-bottom: 1.15rem;
		color: $theme-clr-titles;
		h1,h2,h3,h4,h5,h6,p{
			font-size: 1.75rem;
		}
	}
	&__cText{
		margin-bottom: 1.65rem;
	}
	&__cM{
		text-align: left;
    padding: 0 0 0 40px;
    margin-bottom: 1rem;
		li{
			background-image: url("../../../views/assets/img/svg/check-svg.f96b9692.svg");
	    background-repeat: no-repeat;
	    background-size: 15px;
	    background-position: 0;
	    padding-left: 25px;
			color: #008000;
			text-align: left;
		}
	}
	&__cBtnsActions{
		button{
			opacity: 1;
		  cursor: pointer;
		  display: inline-block;
		  width: 100%;
		  margin-left: auto;
		  margin-right: auto;
		  border: none;
		  padding: 1rem;
		  border-radius: 5px;
	  	&:first-child{
	  		margin-bottom: 0.5rem;
	  	}
		  @media (min-width: 768px){
		  	max-width: 200px;
		  	width: 90%;
		  	&:first-child{
		  		margin-top: 0;
		  		margin-bottom: 0;
		  		margin-left: 0;
		  		margin-right: 0;
		  	}
		  	&:last-child{
		  		margin-top: 0;
		  		margin-bottom: 0;
		  		margin-left: 0.5rem;
		  		margin-right: 0;
		  	}
		  }
		  &.active{
		  	opacity: 1;
		  }
			&.cust-cancel{
				color: #fff;
				background-color: red;	
				&:hover{
			  	background-color: darken(#dc3545, 5%);
			  }
			}
			&.cust-confirm{
		  	color: $theme-clr-btns-txt;
		  	background-color: $theme-clr-btns;
		  	transition: ease-out .2s;
			  &:hover{
			  	background-color: darken($theme-clr-btns, 10%);
			  }
			}
		}
	}
}
.SwalBtn1.customSwalBtn{
	opacity: 1;
  cursor: pointer;
  display: inline-block;
  max-width: 320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  color: $theme-clr-btns-txt;
  background-color: $theme-clr-btns;
  padding: 1rem;
  border-radius: 5px;
  transition: ease-out .2s;
  @media (min-width: 768px){
  	width: 90%;
  }
  &.active{
  	opacity: 1;
  }
  &:hover{
  	background-color: darken($theme-clr-btns, 10%);
  }
}
/* OCULTAR MARCA DE AGUA DE FULLPAGE.JS */
.fp-warning, .fp-watermark{
	display: none;
	user-select: none;
	visibility: hidden;
	opacity: 0;
	color: transparent;
	background-color: transparent;
	border: none;
	line-height: unset;
	width: 0;
	height: 0;
	overflow: hidden;
}
.fp-warning, .fp-watermark a{
	display: none;
	user-select: none;
	visibility: hidden;
	opacity: 0;
	color: transparent;
	background-color: transparent;
	border: none;
	line-height: unset;
	width: 0;
	height: 0;
	overflow: hidden;
}
/* MODAL - AGREGAR VALOR FOB */
.cnt-modalFormNotInsurance{
	position: fixed;
	width: 100%;
	min-height: 100vh;
	height: 100%;
	overflow-y: auto;
	background-color: rgba(0,0,0,.4);
	z-index: 99999999;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	display: none;
	align-items: flex-start;
	justify-content: center;
	pointer-events: none;
	&.show{
		display: flex;
		pointer-events: auto;
	}
	&--c{
		background-color: #fff;
		border-radius: .6rem;
		padding-bottom: 1.25rem;
		max-width: 450px;
		width: 95%;
		margin-top: 1rem;
		overflow: hidden;
		text-align: center;
		animation-name: showForm;
		animation-duration: .3s;
		animation-timing-function: ease-in-out;
		transform: translateY(-200%);
		pointer-events: none;
		&.show{
			transform: translateY(0);
			pointer-events: auto;
		}
		@keyframes showForm{
			0%{
				transform: translateY(-200%);
			}
			100%{
				transform: translateY(0);
			}
		}
		&--close{
			width: 15px;
			height: 15px;
			background:
				linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 43%, #fff 45%, #fff 55%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%), 
				linear-gradient(135deg, #000 0%, #000 43%, #fff 45%, #fff 55%, #000 57%, #000 100%);
			border-radius: 50%;
			box-shadow: 0 0 0 1px #000, 0 0 0 4px #000, 0 0 0 7px #fff;
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
		}
		&--cTitle{
			background-color: $primary-color;
			color: #fff;
			padding: 1rem .5rem;
			h2{
				font-size: 1.5rem;
				margin: 0;
			}
		}
		&--cForm{
			padding: 1.25rem;
			text-align: center;
			&--cControl{
		    width: 100%;
		    display: flex;
		    flex-direction: column;
		    align-items: flex-start;
		    justify-content: center;
		    margin-bottom: 1rem;
				&--label{
					color: $primary-color;
					font-weight: 300;
					padding-left: 1rem;
					font-size: 0.85rem;
					letter-spacing: .2rem;
				}
				&--input{
					/*outline: none;*/
					display: block !important;
					width: 100%;
					font-size: 1rem;
					line-height: 1.5;
					padding: 0.5rem .8rem;
					border: thin solid #ccc;
					border-radius: .4rem !important;
					text-align: center;

					&:focus{
						text-align: left;
					}
				}
				&--input[type=number]::-webkit-inner-spin-button, 
				&--input[type=number]::-webkit-outer-spin-button { 
					-webkit-appearance: none;
					margin: 0;
				}
				&--input[type=number]{ 
					-moz-appearance:textfield;
				}
				&--cListChangeWIcon{
					width: 100%;
					position: relative;
					&--cIcon{
						position: absolute;
						width: 2.5rem;
						height: 100%;
						left: 0;
						padding: 0 .45rem;
						border-right: thin solid $primary-color;
						svg{
							width: 86%;
					    height: 86%;
					    position: relative;
					    top: 5px;
					    fill: $primary-color;
						}
					}
					&--input{
						width: 100%;
						border: thin solid $primary-color;
						font-size: 1rem;
						padding: 0.5rem 0.5rem 0.5rem 3rem;
						line-height: 1.5;
						&[type=number]::-webkit-inner-spin-button, 
						&[type=number]::-webkit-outer-spin-button { 
							-webkit-appearance: none;
							margin: 0;
						}
						&[type=number]{ 
							-moz-appearance:textfield;
						}
						&::placeholder {
						  color: #fff;
						  background-color: #fff;
						  opacity: 0;
						}
					}
				}
			}
			&--cBtnResolNotInsurance{
				display: block;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
		    &--action{
					border: thin solid orange;
			    background-color: transparent;
			    color: orange;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    margin: 0 auto;
			    padding: .75rem 2rem;
			    font-size: 1.1rem;
			    &:hover{
			    	background-color: orange;
			    	color: #fff;
			    	svg{
			    		fill: #fff;
			    		stroke: #fff;
			    	}
			    }
			    span{
			    	font-weight: 600;
			    	vertical-align: middle;
			    }
					svg{
				    color: orange;
				    fill: orange;
				    stroke: orange;
				    width: 36px;
				    height: 36px;
				    margin-left: 0.5rem;
				    position: relative;
				    top: 4px;
					}
		    }
			}
		}
	}
}
/* MODAL - AGREGAR SEGURO EXPLÍCITAMENTE */
.cnt-modalFormReqInsurance{
	position: fixed;
	width: 100%;
	min-height: 100vh;
	height: 100%;
	overflow-y: auto;
	background-color: rgba(0,0,0,.4);
	z-index: 99999999;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	display: none;
	align-items: flex-start;
	justify-content: center;
	pointer-events: none;
	&.show{
		display: flex;
		pointer-events: auto;
	}
	&--c{
		background-color: #fff;
		border-radius: .6rem;
		padding-bottom: 1.25rem;
		max-width: 450px;
		width: 95%;
		margin-top: 1rem;
		overflow: hidden;
		text-align: center;
		animation-name: showForm;
		animation-duration: .3s;
		animation-timing-function: ease-in-out;
		transform: translateY(-200%);
		pointer-events: none;
		&.show{
			transform: translateY(0);
			pointer-events: auto;
		}
		@keyframes showForm{
			0%{
				transform: translateY(-200%);
			}
			100%{
				transform: translateY(0);
			}
		}
		&--close{
			width: 15px;
			height: 15px;
			background:
				linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 43%, #fff 45%, #fff 55%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%), 
				linear-gradient(135deg, #000 0%, #000 43%, #fff 45%, #fff 55%, #000 57%, #000 100%);
			border-radius: 50%;
			box-shadow: 0 0 0 1px #000, 0 0 0 4px #000, 0 0 0 7px #fff;
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
		}
		&--cTitle{
			background-color: $primary-color;
			color: #fff;
			padding: 1rem .5rem;
			h2{
				font-size: 1.5rem;
				margin: 0;
			}
		}
		&--cForm{
			padding: 1.25rem;
			text-align: center;
			&--cControl{
		    width: 100%;
		    display: flex;
		    flex-direction: column;
		    align-items: flex-start;
		    justify-content: center;
		    margin-bottom: 1rem;
				&--label{
					color: $primary-color;
					font-weight: 300;
					padding-left: 1rem;
					font-size: 0.85rem;
					letter-spacing: .2rem;
				}
				&--input{
					/*outline: none;*/
					display: block !important;
					width: 100%;
					font-size: 1rem;
					line-height: 1.5;
					padding: 0.5rem .8rem;
					border: thin solid #ccc;
					border-radius: .4rem !important;
					text-align: center;

					&:focus{
						text-align: left;
					}
				}
				&--input[type=number]::-webkit-inner-spin-button, 
				&--input[type=number]::-webkit-outer-spin-button { 
					-webkit-appearance: none;
					margin: 0;
				}
				&--input[type=number]{ 
					-moz-appearance:textfield;
				}
				&--cListChangeWIcon{
					width: 100%;
					position: relative;
					&--cIcon{
						position: absolute;
						width: 2.5rem;
						height: 100%;
						left: 0;
						padding: 0 .45rem;
						border-right: thin solid $primary-color;
						svg{
							width: 86%;
					    height: 86%;
					    position: relative;
					    top: 5px;
					    fill: $primary-color;
						}
					}
					&--input{
						width: 100%;
						border: thin solid $primary-color;
						font-size: 1rem;
						padding: 0.5rem 0.5rem 0.5rem 3rem;
						line-height: 1.5;
						&[type=number]::-webkit-inner-spin-button, 
						&[type=number]::-webkit-outer-spin-button { 
							-webkit-appearance: none;
							margin: 0;
						}
						&[type=number]{ 
							-moz-appearance:textfield;
						}
						&::placeholder {
						  color: #fff;
						  background-color: #fff;
						  opacity: 0;
						}
					}
				}
			}
			&--cBtnResolNotInsurance{
				display: block;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
		    &--action{
					border: thin solid orange;
			    background-color: transparent;
			    color: orange;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    margin: 0 auto;
			    padding: .75rem 2rem;
			    font-size: 1.1rem;
			    &:hover{
			    	background-color: orange;
			    	color: #fff;
			    	svg{
			    		fill: #fff;
			    		stroke: #fff;
			    	}
			    }
			    span{
			    	font-weight: 600;
			    	vertical-align: middle;
			    }
					svg{
				    color: orange;
				    fill: orange;
				    stroke: orange;
				    width: 36px;
				    height: 36px;
				    margin-left: 0.5rem;
				    position: relative;
				    top: 4px;
					}
		    }
			}
		}
	}
}