

/* VARIABLES GLOBALES PARA EL TEMA */
	/* FUENTES PRINCIPALES */	
	$total-font-family: sans-serif !important;
	
	/* PRINCIPAL COLORS */
	$primary-color: #B58440;
	$step-title-color: steelblue;

	/* ANCHOS Y ALTOS DE PANTALLA */
	$min-headertop: 4.8rem;
	$max-width: 1220px;