RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteBase /Camellogistics/

RewriteRule ^/?$ index.php
RewriteRule calculadora?$ views/calculadora.php