RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteBase /Camellogistics/

############PAGES FOR THE CLIENT
RewriteRule ^/?$ index.php

############NAVEGACION USUARIO
RewriteRule marketplace-logistico?$ views/marketplace-logistic.php
RewriteRule startQuoteRequest?$ views/startQuoteRequest-steps.php
RewriteRule fquotationgenerate?$ views/finalQuotation-return.php
RewriteRule fquotationgenerateaduanas?$ views/finalQuotation-return-aduanas.php
RewriteRule logout?$ controllers/prcss_logout-user.php
RewriteRule cfinalvalidation?$ controllers/c_finalvalidateuser.php

############ANTIGUO PROCEDIMIENTO
#RewriteRule calculadora?$ views/calculadora.php

############PAGES FOR THE ADMIN
RewriteRule admin?$ admin/index.php
RewriteRule dashboard?$ admin/views/dashboard.php
RewriteRule quotation-users?$ admin/views/quotation-users.php
RewriteRule precios-fcl?$ admin/views/pricing-settings-fcl.php
RewriteRule precios-lcl?$ admin/views/pricing-settings-lcl.php
RewriteRule tarifas-fcl?$ admin/views/rate-fcl.php
RewriteRule tarifas-lcl?$ admin/views/rate-lcl.php
RewriteRule tarifas-lcl-transporte?$ admin/views/rate-lcl-transport.php
RewriteRule seguro?$ admin/views/insurance-settings.php
RewriteRule mercancia?$ admin/views/merchandise-settings.php
RewriteRule otros-valores?$ admin/views/other-values.php
RewriteRule impuestos?$ admin/views/taxation.php
RewriteRule reguladores?$ admin/views/regulators.php
RewriteRule productos?$ admin/views/products.php
RewriteRule ajustes?$ admin/views/general-settings.php
RewriteRule banner-principal?$ admin/views/banner-principal.php
RewriteRule savesettings?$ admin/controllers/c_update_config.php

############# MENSAJE DE ERROR PERSONALIZADO
#RewriteRule 404?$ views/404.php
ErrorDocument 404 /views/404.php