/* IMPORTAR LAS VARABLES Y MIXINS A UTILIZAR EN EL TEMA */
@import 'variables';
@import 'mixins';

:root,
*,
*::before,
*::before{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: $total-font-family;
}
html,
body{
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none !important;
}
h3{
	font-size: 1.17em !important;
}
h2{
	font-size: 1.5em !important;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
img{
	max-width: 100%;
	width: auto;
	height: auto;
}
/* CLASS UTILITIES */
.bgc-gray-07{
	background-color: rgba(0,0,0,.07);
}
.d-non{
	display: none !important;
	opacity: 0 !important;
	width: 0 !important;
	height: 0 !important;
	visibility: hidden !important;
	user-select: none !important;
	margin: 0 !important;
	padding: 0 !important;
}
.hdd-control{
	display: none;
	opacity: 0;
	width: 0;
	height: 0;
	visibility: hidden;
	user-select: none;
	margin: 0;
	padding: 0;
}
.control-spanrequired{
	color: red;
}
.ta-right{text-align: right;}
.ta-left{text-align: left;}
.ta-center{text-align: center;}
.mb-1r{
	margin-bottom: 1rem;
}
.non-box-shadow{
	box-shadow: unset !important;
	border: none !important;
}
.p-onlydesktop-1rm{
	padding: 0 !important;
	@media(min-width: 1280px){
		padding: .5rem 1rem 1rem 1rem !important;
	}
}
.w-100{
	width: 100% !important;
}
.mdesk-w-control{
	max-width: 490px !important;
	width: 100% !important;
}
.md-w-control{
	max-width: 290px !important;
	width: 100% !important;
}
.img-backdrop-dark{
	position: absolute;
	background-color: rgba(0, 0, 0, .5);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	display: block;
}
.md-col-2{
	width: 44%;
	flex: 0 auto;
}
.md-col-2-44{
	width: 44%;
	flex: 0 auto;
}
.readonly{
	background-color: #eee;
  user-select: none;
  cursor: not-allowed;
}
.mtop-headertop{
	margin-top: $min-headertop;
}
.mgt-05rem{
	margin-top: 0.5rem !important;
}
.box{
	max-width: $max-width;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.box-small{
	max-width: $max-width-m;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.one-hidden > option:first-child{
	display: none !important;
}
.contain-table-responsive{
	overflow-x: auto !important;
}
.center{
	text-align: center !important;
}
.box-window-border{
	border-radius: .25rem;
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 15%);
  padding: 0.5rem 1rem 1rem 1rem;
}
.flx-justify-center{display: flex !important;justify-content: center !important;}
.flx-justify-start{display: flex !important;justify-content: flex-start !important;}
.flx-justify-end{display: flex !important;justify-content: flex-end !important;}
/************************** LOADER DEL ADMINISTRADOR **************************/
/* MENSAJE DE ÉXITO O LOADER DE ACCESO */
#msgAlertLoginSuccess{
	opacity: .8;
	@include loaderPoints($primary-color, #fff);	
}
/* MENSAJE DE ERROR O ALERTA */
#msgAlertLoginErr{
	@include error-message(#fff, red);
}
/************************** LOADER DEL PANEL DE ADMINISTRADOR **************************/
/* MENSAJE DE ÉXITO O LOADER DE ACCESO */
#msgAlertpreloader{
	opacity: .8;
	@include loaderPoints($primary-color, #fff);	
}
/* MENSAJE DE ERROR O ALERTA */
#msgAlerterr{
	@include error-message(#fff, red);
}

/* BOTONES DENTRO DE TABLAS */
.cont-btn-details{
	padding: 8px;
	margin: auto;
	text-align: center;
	a{
		svg{
			fill: #fff;
		}

		&:hover{
			opacity: .6;
		}
	}
	a.btn-update-detail{
		color: #fff;
		padding: 0.5rem;
		border-radius: 5px;
		background-color: $btn-color-blue;
	}
	a.btn-delete-product,
	a.btn-delete-regulator{
		color: #fff;
		padding: 0.5rem;
		border-radius: 5px;
		background-color: $btn-color-red;
	}

	a.btn-generate-pdf{
		background-color: $btn-color-red;
		width: auto;
		height: auto;
		padding: 8px 6px 9px 6px;
		border-radius: 5px;
		color: #fff;
		svg{
			fill: #fff;
			width: 1.45rem;
			height: auto;
			vertical-align: middle;
		}
		&:hover{
			opacity: 1;
			background-color: red;
		}
	}
}


/* TABLE - QUOTATION USERS */
#tbl_quotationusers_wrapper{
	.dt-buttons.btn-group{
		button{
			padding: .175rem .75rem;
			span{
				display: block;
				svg{
					fill: #fff;
					max-width: 38px;
					width: auto;
					position: relative;
					top: 2px;
				}
			}
			&.buttons-excel{
				color: #fff;
		    background-color: $btn-color-green;
		    border-color: $btn-color-green;
			}
			&.buttons-pdf{
				color: #fff;
		    background-color: $btn-color-red;
		    border-color: $btn-color-red;
			}
			&.buttons-print{
				color: #fff;
		    background-color: #17a2b8;
		    border-color: #17a2b8;
			}
		}
		@media (min-width: 767px){
			float: right;
	    margin: 0 0 0 auto;
	    z-index: 99;
		}
	}
	/* FILTRAR NÚMERO DE RESULTADOS */
	#tbl_quotationusers_length{
		margin-bottom: 1rem;
		label{
			select{
				background-color: #fff;
			}
		}
		@media (min-width: 767px){
			position: absolute;
    	top: 15px;
		}
	}
	/* BÚSQUEDA EN TIEMPO REAL */
	#tbl_quotationusers_filter{
		margin-bottom: 1rem;
		position: relative;
    @media (min-width: 767px){
	    top: 15px;
	    right: 10px;
	    width: 86%;
    }
		label{
			input{
				background-color: #fff;
			}
		}
	}
	/* PAGINACIÓN */
	#tbl_quotationusers_paginate{
		display: table;
		background-color: #fff;
    border-radius: 5px;
    padding: 0;
    //border: 1px solid #979797;
    overflow: hidden;
    margin: 0;
    @media (max-width: 767px){
    	margin: .5rem auto 0 auto;
    }
    @media (min-width: 767px){
    	position: absolute;
	    right: 0;
	    bottom: 0px;
    }
    ul.pagination{
    	li.paginate_button.page-item{
    		a{
    			color: $theme-clr-btns;
    		}
    		&.active{
    			a{
    				border-color: $theme-clr-btns;
    				background-color: $theme-clr-btns;
    				color: $theme-clr-btns-txt;
    			}
    		}
    		&.previous{
    			&.disabled{
    				cursor: not-allowed;
    				a{
    					color: #6c757d;
    				}	
    			}
    		}
    		&.next{
    			&.disabled{
    				cursor: not-allowed;
    				a{
    					color: #6c757d;
    				}	
    			}
    		}
    	}
    }
		a.paginate_button{
			background-color: #fff;
		}
		a.paginate_button.previous{
			border-radius: 5px 0 0 5px;
		}
		a.paginate_button.next{
			border-radius: 0 5px 5px 0;
		}
		a.paginate_button.previous,
		a.paginate_button.next{
			//padding: 0.2rem .65rem;
			background-color: #fff;
		}
		a.paginate_button.previous.disabled,
		a.paginate_button.next.disabled{
			cursor: not-allowed;
		}
		a.paginate_button.next{
			border-left: 1px solid #979797;
		}
		a.paginate_button.current{
			//padding: 0.2rem .65rem;
			border-right: none;
			border-top: none;
			border-bottom: none;
			border-left: 1px solid #979797;
		}
	}
}
#tbl_quotationusers{
	background-color: #fff;
  //border: thin solid red;
	border-collapse: collapse;
	margin: 0.85rem 0 .85rem 0;
	border-radius: 6px 6px 6px 6px;
	border-bottom: none;
	@media (min-width: 767px) {
		margin: 0.85rem 0 1.3rem 0 !important;
	}
	thead{
		border: none;
		tr{
			background-color: transparent;
			border: none;
			th{
				//border: none;
				color: #888;
			}
		}
	}
	tbody{
		border-radius: 0 0 6px 6px;
		tr{
			//background-color: transparent;
			cursor: pointer;
			&.selected{
				background-color: lightgreen;
			}
			td{
				padding: 0 8px;
				border-top: 1px solid #eee;
			}
		}
		tr:last-child{
			border-radius: 0 0 6px 6px;
		}
	}
}

/* TABLE - PRODUCTS */
#tbl_products_wrapper{
	.dt-buttons.btn-group{
		button{
			padding: .175rem .75rem;
			span{
				display: block;
				svg{
					fill: #fff;
					max-width: 38px;
					width: auto;
					position: relative;
					top: 2px;
				}
			}
			&.buttons-excel{
				color: #fff;
		    background-color: $btn-color-green;
		    border-color: $btn-color-green;
			}
			&.buttons-pdf{
				color: #fff;
		    background-color: $btn-color-red;
		    border-color: $btn-color-red;
			}
			&.buttons-print{
				color: #fff;
		    background-color: #17a2b8;
		    border-color: #17a2b8;
			}
		}
		@media (min-width: 767px){
			float: right;
	    margin: 0 0 0 auto;
	    z-index: 99;
		}
	}
	/* FILTRAR NÚMERO DE RESULTADOS */
	#tbl_products_length{
		margin-bottom: 1rem;
		label{
			select{
				background-color: #fff;
			}
		}
		@media (min-width: 767px){
			position: absolute;
    	top: 15px;
		}
	}
	/* BÚSQUEDA EN TIEMPO REAL */
	#tbl_products_filter{
		margin-bottom: 1rem;
		position: relative;
    @media (min-width: 767px){
	    top: 15px;
	    right: 10px;
	    width: 86%;
    }
		label{
			input{
				background-color: #fff;
			}
		}
	}
	/* PAGINACIÓN */
	#tbl_products_paginate{
		display: table;
		background-color: #fff;
    border-radius: 5px;
    padding: 0;
    //border: 1px solid #979797;
    overflow: hidden;
    margin: 0;
    @media (max-width: 767px){
    	margin: .5rem auto 0 auto;
    }
    @media (min-width: 767px){
    	position: absolute;
	    right: 0;
	    bottom: 0px;
    }
    ul.pagination{
    	li.paginate_button.page-item{
    		a{
    			color: $theme-clr-btns;
    		}
    		&.active{
    			a{
    				border-color: $theme-clr-btns;
    				background-color: $theme-clr-btns;
    				color: $theme-clr-btns-txt;
    			}
    		}
    		&.previous{
    			&.disabled{
    				cursor: not-allowed;
    				a{
    					color: #6c757d;
    				}	
    			}
    		}
    		&.next{
    			&.disabled{
    				cursor: not-allowed;
    				a{
    					color: #6c757d;
    				}	
    			}
    		}
    	}
    }
		a.paginate_button{
			background-color: #fff;
		}
		a.paginate_button.previous{
			border-radius: 5px 0 0 5px;
		}
		a.paginate_button.next{
			border-radius: 0 5px 5px 0;
		}
		a.paginate_button.previous,
		a.paginate_button.next{
			//padding: 0.2rem .65rem;
			background-color: #fff;
		}
		a.paginate_button.previous.disabled,
		a.paginate_button.next.disabled{
			cursor: not-allowed;
		}
		a.paginate_button.next{
			border-left: 1px solid #979797;
		}
		a.paginate_button.current{
			//padding: 0.2rem .65rem;
			border-right: none;
			border-top: none;
			border-bottom: none;
			border-left: 1px solid #979797;
		}
	}
}
#tbl_products{
	background-color: #fff;
  //border: thin solid red;
	border-collapse: collapse;
	margin: 0.85rem 0 .85rem 0;
	border-radius: 6px 6px 6px 6px;
	border-bottom: none;
	@media (min-width: 767px) {
		margin: 0.85rem 0 1.3rem 0 !important;
	}
	thead{
		border: none;
		tr{
			background-color: transparent;
			border: none;
			th{
				//border: none;
				color: #888;
			}
		}
	}
	tbody{
		border-radius: 0 0 6px 6px;
		tr{
			//background-color: transparent;
			cursor: pointer;
			&.selected{
				background-color: lightgreen;
			}
			td{
				padding: 0 8px;
				border-top: 1px solid #eee;
			}
		}
		tr:last-child{
			border-radius: 0 0 6px 6px;
		}
	}
}
/* TABLE - REGULATORS */
#tbl_regulators_wrapper{
	.dt-buttons.btn-group{
		button{
			padding: .175rem .75rem;
			span{
				display: block;
				svg{
					fill: #fff;
					max-width: 38px;
					width: auto;
					position: relative;
					top: 2px;
				}
			}
			&.buttons-excel{
				color: #fff;
		    background-color: $btn-color-green;
		    border-color: $btn-color-green;
			}
			&.buttons-pdf{
				color: #fff;
		    background-color: $btn-color-red;
		    border-color: $btn-color-red;
			}
			&.buttons-print{
				color: #fff;
		    background-color: #17a2b8;
		    border-color: #17a2b8;
			}
		}
		@media (min-width: 767px){
			float: right;
	    margin: 0 0 0 auto;
	    z-index: 99;
		}
	}
	/* FILTRAR NÚMERO DE RESULTADOS */
	#tbl_regulators_length{
		margin-bottom: 1rem;
		label{
			select{
				background-color: #fff;
			}
		}
		@media (min-width: 767px){
			position: absolute;
    	top: 15px;
		}
	}
	/* BÚSQUEDA EN TIEMPO REAL */
	#tbl_regulators_filter{
		margin-bottom: 1rem;
		position: relative;
    @media (min-width: 767px){
	    top: 15px;
	    right: 10px;
	    width: 86%;
    }
		label{
			input{
				background-color: #fff;
			}
		}
	}
	/* PAGINACIÓN */
	#tbl_regulators_paginate{
		display: table;
		background-color: #fff;
    border-radius: 5px;
    padding: 0;
    //border: 1px solid #979797;
    overflow: hidden;
    margin: 0;
    @media (max-width: 767px){
    	margin: .5rem auto 0 auto;
    }
    @media (min-width: 767px){
    	position: absolute;
	    right: 0;
	    bottom: 0px;
    }
    ul.pagination{
    	li.paginate_button.page-item{
    		a{
    			color: $theme-clr-btns;
    		}
    		&.active{
    			a{
    				border-color: $theme-clr-btns;
    				background-color: $theme-clr-btns;
    				color: $theme-clr-btns-txt;
    			}
    		}
    		&.previous{
    			&.disabled{
    				cursor: not-allowed;
    				a{
    					color: #6c757d;
    				}	
    			}
    		}
    		&.next{
    			&.disabled{
    				cursor: not-allowed;
    				a{
    					color: #6c757d;
    				}	
    			}
    		}
    	}
    }
		a.paginate_button{
			background-color: #fff;
		}
		a.paginate_button.previous{
			border-radius: 5px 0 0 5px;
		}
		a.paginate_button.next{
			border-radius: 0 5px 5px 0;
		}
		a.paginate_button.previous,
		a.paginate_button.next{
			//padding: 0.2rem .65rem;
			background-color: #fff;
		}
		a.paginate_button.previous.disabled,
		a.paginate_button.next.disabled{
			cursor: not-allowed;
		}
		a.paginate_button.next{
			border-left: 1px solid #979797;
		}
		a.paginate_button.current{
			//padding: 0.2rem .65rem;
			border-right: none;
			border-top: none;
			border-bottom: none;
			border-left: 1px solid #979797;
		}
	}
}
#tbl_regulators{
	background-color: #fff;
  //border: thin solid red;
	border-collapse: collapse;
	margin: 0.85rem 0 .85rem 0;
	border-radius: 6px 6px 6px 6px;
	border-bottom: none;
	@media (min-width: 767px) {
		margin: 0.85rem 0 1.3rem 0 !important;
	}
	thead{
		border: none;
		tr{
			background-color: transparent;
			border: none;
			th{
				//border: none;
				color: #888;
			}
		}
	}
	tbody{
		border-radius: 0 0 6px 6px;
		tr{
			//background-color: transparent;
			cursor: pointer;
			&.selected{
				background-color: lightgreen;
			}
			td{
				padding: 0 8px;
				border-top: 1px solid #eee;
			}
		}
		tr:last-child{
			border-radius: 0 0 6px 6px;
		}
	}
}
/* TABLE - UTILIDAD TARIFARIO FCL */
#tbl_utilities_rate_fcl_wrapper{
	.dt-buttons.btn-group{
		button{
			padding: .175rem .75rem;
			span{
				display: block;
				svg{
					fill: #fff;
					max-width: 38px;
					width: auto;
					position: relative;
					top: 2px;
				}
			}
			&.buttons-excel{
				color: #fff;
		    background-color: $btn-color-green;
		    border-color: $btn-color-green;
			}
			&.buttons-pdf{
				color: #fff;
		    background-color: $btn-color-red;
		    border-color: $btn-color-red;
			}
			&.buttons-print{
				color: #fff;
		    background-color: #17a2b8;
		    border-color: #17a2b8;
			}
		}
		@media (min-width: 767px){
			float: right;
	    margin: 0 0 0 auto;
	    z-index: 99;
		}
	}
	/* FILTRAR NÚMERO DE RESULTADOS */
	#tbl_utilities_rate_fcl_length{
		margin-bottom: 1rem;
		label{
			select{
				background-color: #fff;
			}
		}
		@media (min-width: 767px){
			position: absolute;
    	top: 15px;
		}
	}
	/* BÚSQUEDA EN TIEMPO REAL */
	#tbl_utilities_rate_fcl_filter{
		margin-bottom: 1rem;
		position: relative;
    @media (min-width: 767px){
	    top: 15px;
	    right: 10px;
	    width: 86%;
    }
		label{
			input{
				background-color: #fff;
			}
		}
	}
	/* PAGINACIÓN */
	#tbl_utilities_rate_fcl_paginate{
		display: table;
		background-color: #fff;
    border-radius: 5px;
    padding: 0;
    //border: 1px solid #979797;
    overflow: hidden;
    margin: 0;
    @media (max-width: 767px){
    	margin: .5rem auto 0 auto;
    }
    @media (min-width: 767px){
    	position: absolute;
	    right: 0;
	    bottom: 0px;
    }
    ul.pagination{
    	li.paginate_button.page-item{
    		a{
    			color: $theme-clr-btns;
    		}
    		&.active{
    			a{
    				border-color: $theme-clr-btns;
    				background-color: $theme-clr-btns;
    				color: $theme-clr-btns-txt;
    			}
    		}
    		&.previous{
    			&.disabled{
    				cursor: not-allowed;
    				a{
    					color: #6c757d;
    				}	
    			}
    		}
    		&.next{
    			&.disabled{
    				cursor: not-allowed;
    				a{
    					color: #6c757d;
    				}	
    			}
    		}
    	}
    }
		a.paginate_button{
			background-color: #fff;
		}
		a.paginate_button.previous{
			border-radius: 5px 0 0 5px;
		}
		a.paginate_button.next{
			border-radius: 0 5px 5px 0;
		}
		a.paginate_button.previous,
		a.paginate_button.next{
			//padding: 0.2rem .65rem;
			background-color: #fff;
		}
		a.paginate_button.previous.disabled,
		a.paginate_button.next.disabled{
			cursor: not-allowed;
		}
		a.paginate_button.next{
			border-left: 1px solid #979797;
		}
		a.paginate_button.current{
			//padding: 0.2rem .65rem;
			border-right: none;
			border-top: none;
			border-bottom: none;
			border-left: 1px solid #979797;
		}
	}
}
#tbl_utilities_rate_fcl{
	background-color: #fff;
  //border: thin solid red;
	border-collapse: collapse;
	margin: 0.85rem 0 .85rem 0;
	border-radius: 6px 6px 6px 6px;
	border-bottom: none;
	@media (min-width: 767px) {
		margin: 0.85rem 0 1.3rem 0 !important;
	}
	thead{
		border: none;
		tr{
			background-color: transparent;
			border: none;
			th{
				//border: none;
				color: #888;
			}
		}
	}
	tbody{
		border-radius: 0 0 6px 6px;
		tr{
			//background-color: transparent;
			cursor: pointer;
			&.selected{
				background-color: lightgreen;
			}
			td{
				padding: 8px;
				border-top: 1px solid #eee;
			}
		}
		tr:last-child{
			border-radius: 0 0 6px 6px;
		}
	}
}
/* TABLE - UTILIDAD TARIFARIO LCL */
#tbl_utilities_rate_lcl_wrapper{
	.dt-buttons.btn-group{
		button{
			padding: .175rem .75rem;
			span{
				display: block;
				svg{
					fill: #fff;
					max-width: 38px;
					width: auto;
					position: relative;
					top: 2px;
				}
			}
			&.buttons-excel{
				color: #fff;
		    background-color: $btn-color-green;
		    border-color: $btn-color-green;
			}
			&.buttons-pdf{
				color: #fff;
		    background-color: $btn-color-red;
		    border-color: $btn-color-red;
			}
			&.buttons-print{
				color: #fff;
		    background-color: #17a2b8;
		    border-color: #17a2b8;
			}
		}
		@media (min-width: 767px){
			float: right;
	    margin: 0 0 0 auto;
	    z-index: 99;
		}
	}
	/* FILTRAR NÚMERO DE RESULTADOS */
	#tbl_utilities_rate_lcl_length{
		margin-bottom: 1rem;
		label{
			select{
				background-color: #fff;
			}
		}
		@media (min-width: 767px){
			position: absolute;
    	top: 15px;
		}
	}
	/* BÚSQUEDA EN TIEMPO REAL */
	#tbl_utilities_rate_lcl_filter{
		margin-bottom: 1rem;
		position: relative;
    @media (min-width: 767px){
	    top: 15px;
	    right: 10px;
	    width: 86%;
    }
		label{
			input{
				background-color: #fff;
			}
		}
	}
	/* PAGINACIÓN */
	#tbl_utilities_rate_lcl_paginate{
		display: table;
		background-color: #fff;
    border-radius: 5px;
    padding: 0;
    //border: 1px solid #979797;
    overflow: hidden;
    margin: 0;
    @media (max-width: 767px){
    	margin: .5rem auto 0 auto;
    }
    @media (min-width: 767px){
    	position: absolute;
	    right: 0;
	    bottom: 0px;
    }
    ul.pagination{
    	li.paginate_button.page-item{
    		a{
    			color: $theme-clr-btns;
    		}
    		&.active{
    			a{
    				border-color: $theme-clr-btns;
    				background-color: $theme-clr-btns;
    				color: $theme-clr-btns-txt;
    			}
    		}
    		&.previous{
    			&.disabled{
    				cursor: not-allowed;
    				a{
    					color: #6c757d;
    				}	
    			}
    		}
    		&.next{
    			&.disabled{
    				cursor: not-allowed;
    				a{
    					color: #6c757d;
    				}	
    			}
    		}
    	}
    }
		a.paginate_button{
			background-color: #fff;
		}
		a.paginate_button.previous{
			border-radius: 5px 0 0 5px;
		}
		a.paginate_button.next{
			border-radius: 0 5px 5px 0;
		}
		a.paginate_button.previous,
		a.paginate_button.next{
			//padding: 0.2rem .65rem;
			background-color: #fff;
		}
		a.paginate_button.previous.disabled,
		a.paginate_button.next.disabled{
			cursor: not-allowed;
		}
		a.paginate_button.next{
			border-left: 1px solid #979797;
		}
		a.paginate_button.current{
			//padding: 0.2rem .65rem;
			border-right: none;
			border-top: none;
			border-bottom: none;
			border-left: 1px solid #979797;
		}
	}
}
#tbl_utilities_rate_lcl{
	background-color: #fff;
  //border: thin solid red;
	border-collapse: collapse;
	margin: 0.85rem 0 .85rem 0;
	border-radius: 6px 6px 6px 6px;
	border-bottom: none;
	@media (min-width: 767px) {
		margin: 0.85rem 0 1.3rem 0 !important;
	}
	thead{
		border: none;
		tr{
			background-color: transparent;
			border: none;
			th{
				//border: none;
				color: #888;
			}
		}
	}
	tbody{
		border-radius: 0 0 6px 6px;
		tr{
			//background-color: transparent;
			cursor: pointer;
			&.selected{
				background-color: lightgreen;
			}
			td{
				padding: 8px;
				border-top: 1px solid #eee;
			}
		}
		tr:last-child{
			border-radius: 0 0 6px 6px;
		}
	}
}
/* TABLE - UTILIDAD TARIFARIO TRANSPORTE INTERNO LCL */
#tbl_utilities_rate_lcl_transport_wrapper{
	.dt-buttons.btn-group{
		button{
			padding: .175rem .75rem;
			span{
				display: block;
				svg{
					fill: #fff;
					max-width: 38px;
					width: auto;
					position: relative;
					top: 2px;
				}
			}
			&.buttons-excel{
				color: #fff;
		    background-color: $btn-color-green;
		    border-color: $btn-color-green;
			}
			&.buttons-pdf{
				color: #fff;
		    background-color: $btn-color-red;
		    border-color: $btn-color-red;
			}
			&.buttons-print{
				color: #fff;
		    background-color: #17a2b8;
		    border-color: #17a2b8;
			}
		}
		@media (min-width: 767px){
			float: right;
	    margin: 0 0 0 auto;
	    z-index: 99;
		}
	}
	/* FILTRAR NÚMERO DE RESULTADOS */
	#tbl_utilities_rate_lcl_transport_length{
		margin-bottom: 1rem;
		label{
			select{
				background-color: #fff;
			}
		}
		@media (min-width: 767px){
			position: absolute;
    	top: 15px;
		}
	}
	/* BÚSQUEDA EN TIEMPO REAL */
	#tbl_utilities_rate_lcl_transport_filter{
		margin-bottom: 1rem;
		position: relative;
    @media (min-width: 767px){
	    top: 15px;
	    right: 10px;
	    width: 86%;
    }
		label{
			input{
				background-color: #fff;
			}
		}
	}
	/* PAGINACIÓN */
	#tbl_utilities_rate_lcl_transport_paginate{
		display: table;
		background-color: #fff;
    border-radius: 5px;
    padding: 0;
    //border: 1px solid #979797;
    overflow: hidden;
    margin: 0;
    @media (max-width: 767px){
    	margin: .5rem auto 0 auto;
    }
    @media (min-width: 767px){
    	position: absolute;
	    right: 0;
	    bottom: 0px;
    }
    ul.pagination{
    	li.paginate_button.page-item{
    		a{
    			color: $theme-clr-btns;
    		}
    		&.active{
    			a{
    				border-color: $theme-clr-btns;
    				background-color: $theme-clr-btns;
    				color: $theme-clr-btns-txt;
    			}
    		}
    		&.previous{
    			&.disabled{
    				cursor: not-allowed;
    				a{
    					color: #6c757d;
    				}	
    			}
    		}
    		&.next{
    			&.disabled{
    				cursor: not-allowed;
    				a{
    					color: #6c757d;
    				}	
    			}
    		}
    	}
    }
		a.paginate_button{
			background-color: #fff;
		}
		a.paginate_button.previous{
			border-radius: 5px 0 0 5px;
		}
		a.paginate_button.next{
			border-radius: 0 5px 5px 0;
		}
		a.paginate_button.previous,
		a.paginate_button.next{
			//padding: 0.2rem .65rem;
			background-color: #fff;
		}
		a.paginate_button.previous.disabled,
		a.paginate_button.next.disabled{
			cursor: not-allowed;
		}
		a.paginate_button.next{
			border-left: 1px solid #979797;
		}
		a.paginate_button.current{
			//padding: 0.2rem .65rem;
			border-right: none;
			border-top: none;
			border-bottom: none;
			border-left: 1px solid #979797;
		}
	}
}
#tbl_utilities_rate_lcl_transport{
	background-color: #fff;
  //border: thin solid red;
	border-collapse: collapse;
	margin: 0.85rem 0 .85rem 0;
	border-radius: 6px 6px 6px 6px;
	border-bottom: none;
	@media (min-width: 767px) {
		margin: 0.85rem 0 1.3rem 0 !important;
	}
	thead{
		border: none;
		tr{
			background-color: transparent;
			border: none;
			th{
				//border: none;
				color: #888;
			}
		}
	}
	tbody{
		border-radius: 0 0 6px 6px;
		tr{
			//background-color: transparent;
			cursor: pointer;
			&.selected{
				background-color: lightgreen;
			}
			td{
				padding: 8px;
				border-top: 1px solid #eee;
			}
		}
		tr:last-child{
			border-radius: 0 0 6px 6px;
		}
	}
}