/* VARIABLES GLOBALES PARA EL TEMA */
	/* FUENTES PRINCIPALES */	
	$total-font-family						: sans-serif !important;
	
	/* PRINCIPAL COLORS */
	$primary-color								: #B58440;
	$step-title-color							: steelblue;
	$complete-steplogisticO				: #ED452C;
	$complete-steplogisticG				: #B4B4B4;
	$complete-steplogisticB				: #275FC7;
	$checked-opt-services					: #11A017;
	$checked-opt-services-bgc			: #43A047;
	
	/* BOTON COLORS */
	$btn-success									: #27C24C;

	/* DASHBOARD COLORS */	
	$dashboard-color							: #3A3F51;
	$header-top-color							: #20AFDB;

	/* ANCHOS Y ALTOS DE PANTALLA */
	$min-headertop								: 4.5rem;
	$max-width										: 1220px;
	$max-width-m									: 650px;